@CHARSET "UTF-8";
/*header部分 start*/
header{
	height:40px;
}
#logoDiv{
	float:left;
	margin-top:-10px;
	width:200px;
	height:100%;
	background:url('../../images/logo/logo_admin.png') no-repeat;
}
#title{
	position:relative;
	font-size: 20px;
	left:30px;
	bottom: -10px;
	border:1px solid;
}
#loginInfoDiv{
	height:100%;
	float:right;
}
#loginInfoDiv #loginInfo, #loginInfoDiv #logout{
	margin-right:40px;
}
#headerHr, hr{
	margin-top:0px;
	margin-bottom:10px;
}
/*header部分 end*/
#sideMenu{
	float: left; 
	width: 20%;
	margin-top:60px;
}
/*主内容区 start*/
#_content {
	float: left;
	width: 75%;
	margin-top: 65px;
	margin-left: 60px;
	padding: 0;
}

.tab-pane{
	margin-top:20px;
}
.tab-pane input[type="text"]{
	max-width:300px;
}
/*主内容区 end*/